:root {
  --input-sm-size: 25px;
  --input-size: 45px;
  --input-lg-size: 60px;
  --primary: #ffde15;
  --dark-primary: #c7b02f;
  --green: #4ED252;
  --dark-green: #018202;
  --secondary: #9c9c9c;
  --dark-secondary: #676767;
  --dark: #313131;
  --darker: #1a1a1a;
  --light-dark: #3f3f3f;
  --dark-red: #820101;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type=number] {
  -moz-appearance: textfield;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 40px;
  background-color: var(--dark);
  height: 100vh;
}

canvas {
  border: 10px solid var(--dark-primary);
  border-radius: 10px;
}

button {
  height: var(--input-size);
  background: var(--primary);
  border: 2px solid var(--dark-primary);
  border-radius: 7px;
  color: var(--dark-secondary);
  box-shadow: 0 0 3px #00000052;
  cursor: pointer;
  padding: 0 10px;
}

button.icon {
  font-size: 35px;
  aspect-ratio: 1/1;
}

button.secondary {
  background: linear-gradient(var(--green) 50%, var(--dark-green) 50%);
  border-color: var(--dark-green);
  color: white;
  padding: 0 10px;
  font-size: 22px;
}

button:disabled {
  background: linear-gradient(var(--secondary) 50%, var(--dark-secondary) 50%);
  background-color: var(--dark-secondary);
  border-color: var(--dark-secondary);
  color: white;
}

button.lg {
  height: var(--input-lg-size);
  padding: 0 20px;
  font-size: 26px;
  --translateY: 2px;
}

button.sm {
  height: var(--input-sm-size);
  padding: 0;
  font-size: 17px !important;
}

button:not(:disabled):active {
  transform: translateY(var(--translateY, 1px));
  box-shadow: 0 0 3px #00000052 inset;
}

input,
.input-style {
  height: var(--input-size);
  width: 140px;
  text-align: center;
  border: 2px solid transparent;
  border-radius: 7px;
  box-shadow: inset 0 0 3px rgb(44, 44, 44);
  background: var(--darker);
  text-align: left;
  padding-left: 5px;
  transition: border 0.3s;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
}

*:has(.dollar-sign)>input,
*:has(.dollar-sign)>.input-style {
  padding-left: 23px;
}

input:focus,
input.active {
  outline: none;
  border: 2px solid var(--primary);
}

.input-container {
  position: relative;
  font-size: 20px;
}

.input-container .dollar-sign {
  content: "$";
  color: white;
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  transition: 0.3s;
}

.input-container input:focus+.dollar-sign,
.input-container input.active+.dollar-sign {
  color: var(--primary);
}

.settings {
  display: flex;
  gap: 50px;
}

.with-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.with-title h3 {
  color: white;
  margin-bottom: 6px;
}

.counter {
  display: flex;
  gap: 13px;
  justify-content: center;
  align-items: center;
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.header-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  font-size: 28px;
}

.deposit {
  cursor: pointer;
}

.header-item img {
  width: 38px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
  transition: 0.3s;
}

.modal-content {
  background: var(--darker);
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px #00000052;
  position: fixed;
  z-index: 100;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 375px;
  width: 100%;
}

.modal-content h2 {
  color: white;
  margin-bottom: 10px;
}

.modal-content p {
  color: white;
}

.modal-content button {
  margin-top: 10px;
}

.content-close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  color: white;
  font-size: 30px;
}

.modal-slot-icons {
  display: flex;
  gap: 7px;
}

.modal-slot-icons img {
  width: 50px;
}

.header-left {
  display: flex;
  gap: 10px;
}

.menu {
  height: 38px;
  aspect-ratio: 1/1;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  cursor: pointer;
}

.menu span {
  width: 100%;
  height: 12%;
  background-color: var(--primary);
  border-radius: 3px;
}

.drawer {
  position: fixed;
  z-index: 100;
  inset: 0;
  transition: 0.3s;

}

.drawer-content {
  position: fixed;
  top: 0;
  left: 0;
  max-width: 350px;
  width: 100%;
  height: 100vh;
  background: var(--darker);
  z-index: 100;
  color: white;
  animation: drawer-anim 2s infinite;
  transition: 0.3s;
  display: flex;
  flex-direction: column;
}

.drawer-items {
  flex: 1;
  overflow-y: auto;
}

.drawer-hidden {
  visibility: hidden;
}

.drawer.drawer-hidden .drawer-content {
  transform: translateX(-102%);
}

.drawer.drawer-hidden .overlay {
  opacity: 0;
}

.color-primary {
  color: var(--primary);
}

.drawer-item {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 15px 0;
  text-align: center;
  background-color: var(--dark-red);
}

.drawer-item-won {
  background-color: var(--dark-green);
}

.drawer-item-header {
  background: var(--primary);
  color: var(--light-dark);
  margin-top: 15px;
  border-bottom: 5px solid #bba206;
}

@keyframes drawer-anim {

  0%,
  100% {
    box-shadow: 3px 0 5px #ffde1554;
  }

  50% {
    box-shadow: 4px 0 5px #ffe01580;
  }
}

.drawer-content .content-close {
  top: 22px;
  right: 20px;
}

.drawer-content .drawer-title {
  padding: 20px;
  padding-bottom: 10px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--darker);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--primary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--dark-primary);
}

@media (min-width: 630px) {
  .spin {
    align-self: end;
  }
}

@media (max-width: 630px) {
  .settings {
    flex-direction: column;
  }

  .max-won .input-container,
  .max-won .input-style {
    width: 100%;
  }

  .settings {
    gap: 25px;
  }

  .header {
    flex-direction: column;
    align-items: baseline;
    gap: 18px;
  }
}